.btn-grilla {
    color: #e7e7fa;
      display: inline-block;
      margin: 18px;
      padding: 12px;
      text-align: center;
      border: 3px black solid;
      border-radius: 8px;
      border-color: azure;
      background-image: linear-gradient(to bottom, #e145e8, #cd37d3, #b928bf, #a618ab, #930098);
      font-size: 18px;
      font-family: 'Nunito Sans', sans-serif;
      font-style: oblique;
      font-weight: bold; 
}

.btn-grilla:hover {
    color: #2d0223;
    background: white;
    border-color: #f106a2; }