.box {

  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 18px;  

  }


.box__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0;
    text-decoration: none;
    background-color: #ea7ed8;
    border-radius: 18% 150% 15% 25%;
    
   

  }

  .box__cards img {
    justify-content: center;
    width: 500px;
    height: 520px;
    padding: 4px 8px; 
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}


    .box__cards-banner {
  
      display: flex;
      padding: 4px;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin: 12px;
      width: 18rem;
      text-decoration: none;

     

     }
   /*    .box__cards-banner:hover {
        background: #a50ea5;
        background-image: radial-gradient(circle, #740e5b, #902b7a, #ab459b, #c65fbe, #e179e2);
        color: white;
        border: 2px solid white;
        transform: scale(1.02); 
    } */

      .box__cards-banner h3 {
        flex-flow: row nowrap;
        font-size: 30px;
        margin-bottom: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
    }
      .box__cards-banner p {
        text-align: justify;
        letter-spacing: normal;
        padding: 4px;
        font-size: 16x; 
    }

    .box__cards-banner button {
      color: #e7e7fa;
      display: inline-block;
      margin: 18px;
      padding: 12px;
      text-align: center;
      border: 3px black solid;
      border-radius: 8px;
      border-color: azure;
      background: #440239;
      font-size: 18px;
      font-family: 'Nunito Sans', sans-serif;
      font-style: oblique;
      font-weight: bold; 
    }
      .box__cards-banner button:hover {
        color: #2d0223;
        background: white;
        border-color: #f106a2; 
      }

      .btn-add {
        color: #e7e7fa;
      display: inline-block;
      margin: 18px;
      padding: 12px;
      text-align: center;
      border: 3px black solid;
      border-radius: 8px;
      border-color: azure;
      background: #e90cc4;
      font-size: 18px;
      font-family: 'Nunito Sans', sans-serif;
      font-style: oblique;
      font-weight: bold;

      }

      .btn-add:hover {
        color: #b9329a;
        background: white;
        border-color: #150c12; 
      }