.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 40px;
    padding-top: 20px;
    text-decoration: underline;
     
}

.box__container__contact {
    
    background-color: rgba(235, 235, 248, 0.758);
    background-image: url("../../components/assets/fondo-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 5rem 2rem;
    padding: 4rem ;
    opacity: 0.894;
    width: 60%;
    border: 4px solid rgb(128, 3, 107);
    box-shadow: 12px 12px rgb(241, 78, 197);
    
}