
.box__character {
    
    /* display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: right;
     */
    display: grid;
  flex-wrap: column nowrap;
  align-content: space-between;

}


.box__character-cards {
    display: flex;
    padding: 2px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #a50ea5;;
    margin:30px auto;
    width: 20rem;

}


.box__character-cards img {
    justify-content: center;
      width: 200px;
      height: 220px;
      padding: 4px 8px; 
}

.box__character-info {
    font-size: 14px;
    margin: 2px;
    padding: 2px;
}

.box__character-info-parr {
    font-size: 14px;
    margin-bottom: 2px;
    padding: 2px;
}